
#content-contenter {
    width: 1000px;
    float:left;
    margin-top: 10px;
    padding-bottom: 15px;
    background-color: white;
}
#contenter-left{
	width: 800px;
	float:left;
	background-color: white;
}

.contenter-danhmuc{
	clear: both;
	display: block;
	width: 100%;
	position: relative;
	float: left;
	margin: 5px 0px 0px 0px;
}
.contenter-danhmuc>.title-box>img{
	width: 30px;
	height: 30px;
	margin: 2px 0px 0px 10px;
	float: left;
	padding: 5px 10px 5px 0px;
}
.contenter-danhmuc>.title-box>a{
	display: block;
	float: left;
	font-size: 20px;
	padding: 13px 0px 5px 0px;
	color: #717171;
}
.contenter-danhmuc>.title-box>.readmore{
    color: #717171;
    cursor: pointer;
	display: block;
	float: right;
	border: solid 1px #717171;
	padding: 5px 5px 2px 5px;
	margin: 12px 20px 0px 0px;
	font-size: 15px;
}
.contenter-danhmuc>.title-box>.readmore:hover {
	background-color: #d5d4d4;
}
.contenter-danhmuc>.content-box{
	clear: both;
    float: left;
    width: 100%;
    position:relative;
    overflow: hidden;
    height: auto;
    display: block;
}

.np-listbook {
    position: absolute;
    top: 27%;
    border-radius: 50%;
    display:none;
}
.content-box:hover .np-listbook {
    transition: 1s;
    display: block;
    z-index: 99;
}
.next-listbook {
    right: 14px;
}
.prev-listbook {
    left: 15px;
}
.np-listbook img{
    width:30px;
    height:30px;
    border-radius:50%;
}
.np-listbook > img:hover{
    cursor:pointer;
}
.list-book {
    overflow: hidden;
    margin: 20px 34px 0px 37px;
    height: auto;
}
.list-book ul {
    display: block;
    float: left;
    padding-left: 0px;
    width: 1456px;
    margin: 0;
}

.list-book ul li {
    float: left;
    height: 100%;
    margin: 0px 13px 0px 12px;
    list-style: none;
    display: block;
    position: relative;
}
.hinhanh-book{
	height: auto;
    overflow: hidden;
    position: relative;
    width: 154px;
    border: 1px solid #ccc;
}
.hinhanh-book a{
	display: block;
	color: #717171;
    cursor: pointer;
}
.hinhanh-book a img{
	display: block;
	width: 155px;
    height: 240px;
}

.hinhanh-book:hover .hover-hinhanh-book{
	/* display: block; */
    transition: 0.3s;
    margin-top: -85px;
}

.hover-hinhanh-book{
	overflow: inherit;
  	position: absolute;
  	/* display: none; */
  	height: 85px;
    width: 100%;
    background-color: #1c1b1bb3;
}
.hover-hinhanh-book .tacgia{
	color: #fafafa;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 15px;
    margin: 5px 0px 5px 2px;
}
.hover-hinhanh-book .nxb{
    color: #f44e4e;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 15px;
    width: auto;
    margin: 0px 0px 0px 5px;
}
.hover-hinhanh-book .hover-btn{
	display: block;
	margin: 0px 0px 5px 0px;
}
.hover-btn .btn-white{
    font-weight:bold;
	display: block;
    height: 25px;
    margin: auto;
    width: 90px;
    cursor: pointer;
    background-color: white;
    border-color: white;
    border-radius: 5px;
}
.hover-btn .btn-white:hover{
	background-color: #36abe7;
	border-color: #36abe7;
	transition: 0.3s;
    color:white;
}
.hover-btn .btn-white p{
	margin: 0;
	color: black;
	font-weight: bold;
	font-size: 14px;
}
.hover-btn .btn-white:hover p{
	color: white;
	transition: 0.3s;
}
.name-book{
	color: #515151;
    cursor: pointer;
    height: auto;
    display: block;
    width: 157px;
    margin: 5px 0px 5px 0px;
}
.name-book:hover{
	color: #1197b4;
}
.name-book h3{
	font-size: 17px;
    padding: 0;
    margin: 0px 5px 0px 5px;
    text-align:center;
}

#list-bia{
	width: 100%;
	height: 130px;
	margin: 0;
    margin: 0px 37px 20px 37px;
}
#list-bia:hover{
    height: 130px;
	overflow-x: hidden;
}
#list-bia ul{
	width: 100%;
}
#list-bia ul li{	
	width: auto;
	margin : 10px 13px 0px 2px;
}
.hinhanh-bia{
	border: 1px solid #d5d5d5;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	height: 120px;
	width: 230px;
}
#list-bia img {
    height: 120px;
    width: 230px;
}